body {
  background-image: url(bg2.jpg);
  background-size: contain;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* display: flex; */
    justify-content: center;
  }
  
  h1 {
    text-align: center;
  }
  
  .pet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pet-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .pet-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  /* Button styling */
  button {
    background-color: #003c95;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #3552e5;
  }