h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
  text-align: center;
}

.featured-pets {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  border-radius: 30px;
}

.pet-card {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  text-align: center;
  background-color: rgb(204, 230, 233);
}

.pet-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.pet-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.pet-card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.com {
  background-image: url(bg2.jpg);
  background-size: contain;
}

button {
  padding: 10px 20px;
  background-color: #003c95;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #0e3c9f;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .featured-pets {
    flex-wrap: wrap;
  }

  .pet-card {
    width: 45%;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .featured-pets {
    flex-direction: column;
  }

  .pet-card {
    width: 80%;
    margin: 10px auto;
  }
}
